body{
    margin: 0px;
    background-image: url(imagem/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    font-size: 20px;
    background-color: #134369;
}
/* CABECALHO */
header{
    text-align: center;
    color: wheat;
}
header h1{
    margin: 20px;
}
/* FORMULARIO GERAL */
section{
    width:50% ;
    min-width: 480px;
    margin: auto;
    padding: 0px;
}
fieldset div label,fieldset div input{
    margin: 3px 0px;
}
fieldset{
    background-color: rgba(137, 43, 226, 0.521);
    border-radius: 5px;
    border-color:rgba(137, 43, 226, 0.521) ;
}
/* FORMULARIO DADOS PESSOAIS*/

fieldset .caixa_dados_p{
    width: 70%;
    text-align: right;
    margin: auto;
}
/* FORMULARIO DADOS MATRICULA*/
.field_matricula{
    display: flex;
}

.caixa_serie{
    width: 200px;
}
.caixa_turno{
    width: 20%;
}
.caixa_turno p{
    text-align: center;
    margin-top: 0px;
}
.caixa_atividades_input{
    display: flex;
    flex-direction: column;
}
.caixa_atividades_input input:hover{
    background: yellow;
    box-shadow: yellow 0px 0px 100px;
    color: black;
}
.caixa_input_submit_limpar{
    text-align: center;
}
.caixa_input_submit_limpar input{
    margin: 20px;
    background-color: rgba(137, 43, 226, 0.521);
    padding: 10px;
    font-size: large;
}
.caixa_input_submit_limpar input:hover{
    background: yellow;
    box-shadow: yellow 0px 0px 100px;
}








